html {
    height:350vh;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #020202;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

body {
    height: 350vh;
    overflow-y: hidden;
    margin: 0%;
    overflow-y: hidden;
}

canvas {
    height: 500vh;
    overflow-y: hidden;
    position: absolute;
	width: 100vw;
}
